
<ul>
    <% @bands.each do |band| %>
    <li>
        <a href="<%= band_url(band) %>"><%= band.name %></a> ->
        Placeholder Link to Edit
        Placeholder Link to Delete    
    </li>

    <% end %>
</ul>