/* PHASE 7: Online */
.profile-picture {
    position: relative;
    overflow: hidden; 
}
.online {
    position: absolute;
    transform: rotate(-45deg) translateX(-25%);
    box-shadow: 10px 5px 5px;
    background: #0c0;
    color: white;
    padding: 5px 30px;
    letter-spacing: 2px;
    font-size: 12px;
    left: 0px;
}

