
<h1>All Of The Cats In The World</h1>

<ul>
    <%= render @cats %>
    <!-- Manual way
    <% @cats.each do |cat| %>
       <%= render cat %> 
       <%#= render "cat", cat: cat  %> even longer way
    <% end %>
    -->
</ul>