
<h1>All Of The Cats In The World</h1>

<ul>
    <% @cats.each do |cat| %>
        <li>
            <h3>
               <a href="<%= cat_url(cat) %>"><%= cat.name %></a>
            </h3>
        </li>
    <% end %>
</ul>