<h1>Create A New 🍼Cat🍼</h1>
<form action="<%= cats_url %> " method="POST">
    <label for="name">Name</label>
    <input type="text" name="cat[name]" id="name"> 
    <br>

    <label for="color">Color</label>
    <select name="cat[color]" id="color">
        <option selected>-- Select a Color --</option>
        <option value="Black">Black</option>
        <option value="White">White</option>
        <option value="Orange">Orange</option>
        <option value="Purple">Purple</option>
    </select>
    <br>
    
    <label for="birth_date">Birthdate</label>
    <input type="date" name="cat[birth_date]" id="birth_date">
    <br>

    <label for="sex">Sex |</label>
    <label for="M">Male</label>
    <input type="radio" name="cat[sex]" id="sex" value="M">
    <label for="F">Female</label>
    <input type="radio" name="cat[sex]" id="sex" value="F">
    <br>

    <label for="description">Description</label>
    <textarea name="cat[description]" id="description" cols="30" rows="10"></textarea>
    <br>

    <input type="submit" value="Create New Cat">
</form>